# ===========================================
# ENV - Fichiers d'environnement
# ===========================================
/.env
/.env.local

# ===========================================
# SYMFONY - Fichiers et dossiers générés par Symfony
# ===========================================
docs/

# ===========================================
# DOCKER - Data de la base de données
# ===========================================
/db_data/

# ============================================
# DOCKER - Overrides locaux
# ============================================
docker-compose.override.yml