# ============================================
# ENVIRONNEMENT
# ============================================
.env
.env.dev
.env.local
.env.*.local

# ============================================
# DÉPENDANCES PHP/COMPOSER
# ============================================
/vendor/

# ============================================
# SYMFONY - Caches et logs
# ============================================
/var/
!/var/cache/.gitkeep
!/var/log/.gitkeep

# ============================================
# SYMFONY - Build publics
# ============================================
/public/bundles/
/public/build/

# ============================================
# TESTS
# ============================================
.phpunit.result.cache
/phpunit.xml

# ============================================
# IDE
# ============================================
.vscode/
.idea/
*.swp

# ============================================
# OS
# ============================================
.DS_Store
Thumbs.db
###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
